.jumbotron {
  background-color: navy;
  color: white;
}

.centerText {
  text-align: center;
}

.formHeader {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0;
}

.formStyle {
  border: 0.1rem solid navy;
  padding: 1rem;
}